#context_free_grammar_text_area {
    resize: none;
    display: block;
    height: 200px;
    width: 100%;
    font-size: 20px;
    font-family: "Ubuntu Mono";
}

#pda_input {
    width: 100%;
    font-size: 20px;
    font-family: "Ubuntu Mono";
}

#pda_canvas_container {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    padding: 5px;
}

.pda-canvas {
    width: 50%;
    float: left;
    padding: 0px;
    border: 2px solid black;
}
